* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.home-section {
    width: 100%;
    height: fit-content;
    background: linear-gradient(to right, black 70%, #ff9900 30%);
    position: relative;

}

#design {
    font-size: 30px;
    color: #ff9900;
    margin-left: 30px;
    letter-spacing: 2px;
    font-weight: bold;

}

.nav-link {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 5px;


}

.btncv {
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;

}


.home {
    height: fit-content;
    background: linear-gradient(to right, black 70%, #ff9900 30%);
}

.home h1 {
    color: white;
    font-size: 20px;
    position: relative;
    padding-left: 3rem;

}

.home h2 {
    padding-left: 3rem;
    color: white;

}


.home span {
    color: #ff9900;
    font-weight: bold;

}

.home p {
    padding-left: 3rem;
    color: white;
    font-weight: bold;

}

.btn2 {
    background-color: black;
    color: #ff9900;
    border: 2px solid #ff9900;
    font-weight: 1;
    width: 120px;
    height: 30px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    margin-left: 50px;

}

/* about */

.pic1 img {
    height: 20rem;
    width: 20rem;
    padding-left: 30px;
}

#about {

    height: fit-content;
    background-color: black;

}

.ppic1 {
    height: 21rem;
    width: 21rem;
    border-radius: 1500px;
    margin-left: 3rem;
}

.ppicd {
    /* margin-top: 50px;
    display: flex; */
    justify-content: center;

}

.row {
    --bs-gutter-x: 0rem;

}
#bio{
    padding-left: 2rem;
}

#bio h2 {
    color: white;
    width: 150px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
    border-color: #ff9900;
    font-size: 20px;



}

#bio h4 {
    color: white;
    font-weight: bold;
    font-size: 20px;

}

#bio h4 span {
    color: #ff9900;
    font-weight: lighter;
    font-size: 20px;
}

#bio button {
    border: 2px solid;
    border-color: #ff9900;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    color: white;
    height: 2rem;
    width: 140px;
    border-radius: 5px;
    /* margin-top: 10px; */
}

/* certifications */

#card1 {
    border: 3px;
    border-style: solid;
    height: 18rem;
    border-color: #ff9900;
}

.head {
    color: white;
    /* padding-top: 20px; */
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-color: #ff9900;
    text-align: center;
    margin-bottom: 5rem;
}

#cet {
    align-items: center;
    display: flex;
    justify-content: center;
    height: fit-content;

}

#imghi {
    height: 17rem;
}

/* resume */

.res1 {
    text-align: center;
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #ff9900;
    color: white;
    padding-top: 50px;

}

#Resume h1 {
    margin-top: 30px;
    color: #ff9900;
    letter-spacing: 2px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-color: #ff9900;
    padding-bottom: 50px;

}

#rescard {
    height: fit-content;
    border-bottom: 3px solid;
    border-bottom-color: #827055;
}

.bg {
    width: 40px;
    height: 60px;
    padding-top: 9px;
    padding-left: 9px;
    margin-left: 50px;
    background-color: #ff9900;
    color: white;
}
.bgE{
    position: relative;
    word-break: break-all;
    color: white;
    padding-left: 75px;
}
.bgE::before {
    content: "E";
    position: absolute;
    left: 3rem;
    top:0;
    width: 40px;
    height: 60px;
    padding-top: 9px;
    padding-left: 9px;
    background-color: #ff9900;
    color: white;

}

.bg1 {
    margin-left: 20px;
    font-size: 23px;
    font-weight: 100px;
    width: fit-content;
}

/* main body 1 */

#resmain {
    height: fit-content;
}

/* .rescoln1 {
    margin-top: 10px;
} */

.obj {
    text-align: left;
    border-bottom: 3px solid;
    border-bottom-color: #827055;
    color: white;
    padding-left: 15px;
    display: flex;
}

.para {
    text-align: left;
    padding-left: 15px;
    color: rgb(107, 209, 235);
    display: flex;

}

.infom1 {
    text-align: left;
    color: rgb(107, 209, 235);
    padding-left: 15px;

}

.infom1 span {
    font-weight: bold;
}

.infom11 {
    text-align: left;
    padding-left: 50px;
    color: rgb(107, 209, 235);
}

/* main body 2 */
.infom2 {
    background-color: rgb(13, 88, 107);
}

.infom22 {
    font-size: 20px;
    color: rgb(248, 247, 247);
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    text-align: left;
    padding-left: 20px;

}





/* progress bars */

.progress-title {
    font-size: 15px;
    font-weight: 700;
    color: #000;
    margin: 10px;
}

.progress {
    height: 7px;
    width: 200px;
    background: #f1f3f1;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 20px;
    overflow: visible;
    position: relative;
    margin-left: 10px;
}

.progress .progress-bar {
    border: 1px solid #1d098b;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    animation: animate-positive 2s;
}

.progress .progress-bar:after {
    content: "";
    width: 20px;
    height: 20px;
    background: #f9d700;
    border: 6px double #fff;
    outline: 2px solid #f5f5f7;
    position: absolute;
    top: -6px;
    right: 0;
}

.progress.red .progress-bar:after {
    background: #f80a0a;
    outline: 2px solid #f80a0a;
}

.progress.yellow .progress-bar:after {
    background: #f9d700;
    outline: 2px solid #f9d700;
}

.progress.green .progress-bar:after {
    background: #049521;
    outline: 2px solid #049521;
}

.progress.blue .progress-bar:after {
    background: #0906a7;
    outline: 2px solid #0906a7;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}

.infom23 {
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 100px;
    text-align: left;
    padding-left: 20px;


}

.infom24 {
    text-align: left;
    font-weight: 900;
    font-size: 15px;
}

#port0 {
    background-color: #ff9900;
    height:fit-content;
}

#port0 h2 {
    color: white;
    text-align: center;
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: black;
    margin-bottom: 20px;
}

#port0 span {
    font-weight: bold;
    color: white;
}

#port0 p {
    font-weight: bold;
    text-align: center;
    height: fit-content;
    margin-bottom: auto;
}



.infom25 {
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 100px;
    width: 200px;
    text-align: center;

}

@media (min-width:280px) and (max-width:500px) {

    .pic1 img,
    .ppic1,
    .pic11 {
        width: 14.375rem;
        height: 13.5rem;
    }

    .certifications{
        gap: 2rem;
    }
    .homegap {
        gap: 5rem;
    }
    .aboutgap{
        gap: 5rem;
    }

    .ellipsis {
        /* display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 15rem;
        white-space: nowrap; */
    }
}

/* @media (min-width:280px) and (max-width:500px) {
    #imghi{
        width: fit-content;
        height: fit-content;
    }
} */